html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: 'Alegreya', serif;
font-family: 'Pathway Gothic One', sans-serif;
    background: linear-gradient(#fff);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  .home{
    display: flex;
 position: relative;
 height: 150px;

  }

  .diamond{
    position: absolute;
    background-color: rgb(79, 235, 227);
   height: 100%;
   width: 100%;
    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);
  
    
  }
 
  .triangle-left{
    position: absolute;
 top: 75px;
 width: 100%;
 height: 100%;
    background-color: rgb(22, 22, 22);
    clip-path: polygon(0% 0%,50% 50%,0% 100%);
  }

  .triangle-right{
    position: absolute;
 top: 75px;
 width: 100%;
 height: 100%;
    background-color: rgb(206, 95, 182);
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);

  }

  .has-search .form-control {
    padding-left: 2.375rem;
  border : 2px solid  rgb(79, 235, 227);
  border-radius: 20px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color:  #aaa;
  
}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

   /*side menu bar*/

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }